<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employer Details</title>
</head>
<body>
<h2>Employer Details</h2>

<p th:if="${employer != null}">
    Location: <span th:text="${employer.location}"></span>
</p>
<p th:unless="${employer != null}">
    Employer not found
</p>

<a href="/employers/edit/${employer.id}">Edit</a>
<a href="/employers/delete/${employer.id}">Delete</a>
<a href="/employers">Back to List</a>
</body>
</html>
